
h1 {
    color: red;
    position: relative;
    top: 10px;
     
}

h3 {
    color: yellowgreen;
}

h4{
    color:darkred;   
}

img {
    width: 400px;
}

#thirdDiv {
    background-color:black;
    width: 500px;
    height: 600px;
    padding: 50px;
    border: 10px solid red;
}

#spanId {
    color: blue;
    font-size: 18px;
    margin: 50px;
}

